body {
    background-color: #2B2C2E;
}

div {
    background-color: #665D50;
    width: 50vh;
    height: 30vh;
    display: grid;
    justify-content: center;
    align-items: center;
    inset: 30vh 0vh 40vh 76vh;
    position: absolute;
    text-align: center;
}

button {
    background-color: #3D4D98;
    color: white;
    position: relative;
    width: 50vh;
    inset: 60vh 0vh 0vh 75vh; /*hauteur - horizontale*/
    height: 8vh;
    border-style: none;
    font-weight: 1000;
    text-transform: uppercase;
}
/*#111113*/
#auteur {
    border-top-color: thick double #32a1ce;
}